/* CSS styles for the work portfolio webpage */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 30px;
  color: #007bff;
}

.project {
  margin-top: 20px;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 20px;
}

.notice {
    background-color: #f8d7da; /* Set the background color */
    color: #721c24; /* Set the text color */
    padding: 15px; /* Set the padding around the notice */
    border: 1px solid #f5c6cb; /* Add a border */
}

.tip{
    background-color: #c1e273; /* Set the background color */
    color: #155423; /* Set the text color */
    padding: 15px; /* Set the padding around the notice */
    border: 1px solid #9ce273; /* Add a border */
}

/* CSS styles for the dropdown menu */


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .dropbtn {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .dropdown-content {
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
    border-radius: 3px;
  }
  
  .dropdown-content a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown-content.active {
    display: block;
  }
  

  .instruction-list {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the list horizontally */
  }
  
  .instruction-list ol {
    counter-reset: step; /* Reset the counter for ordered list */
    list-style-type: none; /* Remove default list styles */
    padding-left: 0; /* Remove default list padding */
  }
  
  .instruction-list li {
    display: flex; /* Use flexbox for layout */
    margin-bottom: 20px; /* Add some vertical spacing between items */
  }
  
  .instruction-list h3 {
    flex-basis: 100px; /* Set a fixed width for the step title */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
  }
  
  .instruction-list p {
    flex-grow: 1; /* Allow the instructions to take up remaining width */
    margin: 0; /* Reset default margins */
    font-size: 16px; /* Adjust as needed */
  }
  